name: Dataform CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  dataform-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install Dataform CLI
        run: npm install -g @dataform/cli

      - name: Install sqlfluff
        run: npm install -g sqlfluff

      - name: Run sqlfluff lint
        run: sqlfluff lint --dialect bigquery test.sql
